body {
  overflow: hidden;
}

.n {
  position: absolute;
  top: 100px;
  width: 200px;
  height: 10px;
  background: #000;
}

.n1 {
  top: 200px;
}
.n2 {
  top: 300px;
}

.n3 {
  top: 400px;
}

.n4 {
  top: 500px;
}

#block {
  height: 100px;
  width: 100px;
  position: absolute;
  background: blue;
}
